
@import "../base/listas";
@import "../base/mixins";
@import "../base/variables";

/* MENÚ */


.navbar {
    background-color: nth($bordos, 1);
       
       .nav-link {
          font-size: 18px;
          color: nth($dorados, 1);
          &:visited, &:link {
             color: nth($dorados, 1);
             &:hover {
                color: white;
 
             }
          }
       }
 }
 
 
 
 .dropdown:hover>.dropdown-menu {
    display: inline-block;
  }

  .navbar-toggler-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
 }

 