
/*Media Querys */

@media screen and (max-width:768px) {
    #vineria11 {
        width: 90vw;
        padding-bottom: 10%;
        padding-top: 6%;
    }

    .item1 {
        width: 110%;
   }

   .tres {
       padding-top: 10%;
   }
    .underlineContainer {
        display: none;
    }

    .mapa {
        display: none;
    }

    .wapp {
        display: none;
    }

    .btn {
        display: none;
    }
 
    .tiraPromo {
        grid-template-columns: repeat(1, 1fr);
    }

    .titulo {
        font-size: 19px;
        position: absolute;
       left: 12%;
    }
    .textoTitle {
        font-size: 15px;
    }

    

  .banner-site {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
  }

  .redesRoll {
      display: none;
  }

  .bfill3 {
    padding-bottom: 40%;
}




}

@media screen and (max-width:1500px)  {
    .underlineContainer {
        display: none;
    }

    
    .tiraPromo {
        grid-template-columns: repeat(1, 1fr);
    }
    .quoteMain {
    font-size: 15px;    }

    .redesRoll  {
        display: none;    }

   .textosInicio {
       display: none;
   }
      
   .hamptonsBanner {
       z-index: -1;
   }

}

