    /* Variables */ 
    $bg-header: #541726;

    $enlaces: none;

    $padding-header: 20px 9px;

    $menuItemColor: #C7A34D;

    $textTitleColor: #fff;

    $fontsubTitle: 32px;

    $fontPrincipal:  'Noto Serif', serif;
    $fontSecundaria: 'Raleway', sans-serif;
